*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:black;
    font-family:Arial, Helvetica, sans-serif;
}

/* CANVAS */

canvas{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    cursor:grab;
}

/* TITULO */

.title{
    position:absolute;
    top:25px;
    width:100%;
    text-align:center;

    color:white;

    font-size:45px;
    font-weight:bold;

    letter-spacing:5px;

    z-index:10;

    text-shadow:
    0 0 10px white,
    0 0 20px #6f5bff,
    0 0 40px #00d4ff;

    animation:glow 2s infinite alternate;
}

@keyframes glow{

    from{
        opacity:0.7;
    }

    to{
        opacity:1;
    }
}
#playBtn{

    position:absolute;

    bottom:30px;

    left:50%;

    transform:translateX(-50%);

    padding:15px 30px;

    border:none;

    border-radius:15px;

    background:#6f5bff;

    color:white;

    font-size:20px;

    cursor:pointer;

    z-index:1000;

    box-shadow:
    0 0 20px #6f5bff;

}

#playBtn:hover{

    transform:
    translateX(-50%)
    scale(1.05);

}